/* This file is for your main application css. */

@import "./phoenix.css";

textarea {height: auto;}

.table-condensed {
  font-size: 1.5rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}
 
tr, td {
    height: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
label {
  float: left
}
span {
  display: block;
  overflow: hidden;
  padding: 0 4px 0 6px
}
input {
  width: 100%
}

.button-small {
  font-size: 1.0rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

form {
  margin-bottom: 0;
}

hr {
  border-top-width: 0.1rem;
  border-top-color: rgb(209, 209, 209);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

