<%= link("Home", to: "/") %>
<%= raw @content %>

<%= form_for @conn, Routes.page_path(@conn, :edit), [as: :foo], fn f -> %>
  <%= text_input f, :for %>
  <%= submit "Edit", name: "page", value: @conn.assigns.page %>
<% end %>

<%= form_for @conn, Routes.page_path(@conn, :search), [as: :search], fn f -> %>
  <%= text_input f, :stext %>
  <%= hidden_input f, :page, value: @conn.assigns.page %>
<% end %>
