<%= render("header.html", conn: @conn) %>

<%= raw @content %>

<%= form_for @conn, Routes.page_path(@conn, :edit), [as: :foo], fn f -> %>
  <%= text_input f, :for %>
  <%= submit "Edit", name: "page", class: "button-small", value: @conn.assigns.page %>
<% end %>

<%= render("search.html", conn: @conn) %>
